[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
scipy = "*"
numpy = "*"
sklearn = "*"
bcolz = "*"
matplotlib = "*"
"h5py" = "*"
pandas = "*"
Pillow = "*"
Keras = "==1.2.2"
scikit-image = "*"
tensorflow = "*"
scikit-learn = "*"
jieba = "*"
Cython = "*"
fasttext = "*"


[dev-packages]



[requires]

python_version = "2.7"
